.navbar-submenu {
  position: absolute;
  top: 60px; /* Adjust this based on your header's height */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

.navbar-menu a:hover + .navbar-submenu,
.navbar-submenu:hover {
  display: block;
}

.navbar-submenu ul {
  list-style: none;
  padding: 0;
}

.navbar-submenu ul li {
  padding: 10px;
  cursor: pointer;
}

.navbar-submenu ul li:hover {
  background-color: #f1f1f1;
}
