@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit ;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .app {
    width: 95%;
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}